
<!--Editado por Lipe em 14/05/2026 às 12h15-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voiture - Gestão de Estoque</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!--favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons do voiture/favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo mb-4 text-center">
            <h5 class="m-0">
            </h5>
        </div>

        <nav>

            <a>Dashboard</a>

            <a>Estoque</a>

            <a href="{{ url_for('tabelaempilhadeira') }}" class="{% if request.endpoint == 'tabelaempilhadeira' or request.endpoint == 'cadastroempilhadeira' %}active{% endif %}">
                <i class="bi bi-box-seam"></i> Empilhadeiras
            </a>


            <a href="{{ url_for('listagem_cliente') }}" class="{% if request.endpoint == 'listagem_cliente' or request.endpoint == 'cliente' %}active{% endif %}">
                <i class="bi bi-person-fill"></i> Clientes
            </a>

            <a href="{{ url_for('pedidoentrada') }}" class="{% if request.endpoint == 'pedidoentrada' %}active{% endif %}">
                <i class="bi bi-box-seam-fill"></i> Pedido de entrada
            </a>

            <a href="">
                <i class="bi bi-box-seam-fill"></i> Enderecamento
            </a>

    

            <!--
            <a href="{{ url_for('pedidoentrada') }}" class="{% if request.endpoint == 'pedidoentrada' %}active{% endif %}">
                <i class="bi bi-box-seam-fill"></i> Movimentação de entrada
            </a>-->


            <a href="{{ url_for('listagem_fornecedor') }}" class="{% if request.endpoint == 'fornecedor' or request.endpoint == 'listagem_fornecedor'  %}active{% endif %}">
                <i class="bi bi-person-fill"></i> Fornecedores
            </a>

            <a href="{{ url_for('listagem_funcionario') }}" class="{% if request.endpoint == 'cadastro_funcionario' or request.endpoint == 'listagem_funcionario' %}active{% endif %}">
                <i class="bi bi-box-seam"></i> Gestão
            </a>
            <a href="{{ url_for('listagem_produto') }}" class="{% if request.endpoint == 'produtos' or request.endpoint == 'listagem_produto'  %}active{% endif %}">
                <i class="bi bi-box-fill"></i> Produtos
            </a>

        </nav>

    </aside>
    
    <!-- CONTEÚDO -->
        <main class="content">

            <!-- HEADER SUPERIOR -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="m-0">Sistema de Gestão</h4>
            </div>

            <!-- MENSAGENS -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="mensagem {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- CONTEÚDO DINÂMICO -->
            {% block conteudo %}{% endblock %}

        </main>
</body>
</html>