<!--atualizado por clarinha 07/05 às 09h49-->

{% extends 'base.html' %}

{% block conteudo %}

<div id="template_produto">
    <div class="mb-4">

        <!--Título em caso de cadastro-->
        {% if produto and produto.id %}
        <h2 class="titulo-pagina" style="margin-left: 5px;margin-bottom: 10px;">Editar Produto</h2>

        {%else%}
        <h2 class="titulo-pagina" style="margin-left: 5px;margin-bottom: 10px;">Cadastrar Produto</h2>

        {%endif%}

        <div class="d-flex justify-content-end">
            <a href="{{ url_for('listagem_produto') }}" class="btn btn-success">
                <i></i>Visualizar produtos</a>
        </div>
    </div>

    <div class="container-fluid produto-container d-flex justify-content-center">

        <div class="produto-card text-dark">

            <form id="form_produto"
                action="{% if produto and produto.id %}{{ url_for('atualizar_produto', id=produto.id) }}{% else %}{{ url_for('salvar_produto') }}{% endif %}"
                method="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="produto_nome">Nome do produto</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-box text-white"></i>
                            </span>
                            <input type="text" class="form-control" name="produto_nome" id="produto_nome"
                                placeholder="Nome do produto" required value="{{ produto.produto_nome if produto else '' }}">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="produto_categoria">Categoria</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-box text-white"></i>
                            </span>
                            <input type="text" name="produto_categoria" class="form-control" id="produto_categoria"
                                placeholder="Categoria do produto" required value="{{ produto.produto_categoria if produto else '' }}">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="produto_localizacao">Localização</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-geo-alt-fill text-white"></i>
                            </span>
                            <input type="text" name="produto_localizacao" class="form-control" id="produto_localizacao"
                                placeholder="Localização do produto" required value="{{ produto.produto_localizacao if produto else '' }}">
                        </div>

                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="produto_quantidade_minima"> Estoque mínimo</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-basket2-fill text-white"></i>
                            </span>
                            <input type="text" name="produto_quantidade_minima" class="form-control"
                                id="produto_quantidade_minima" placeholder="Estoque mínimo do produto" required value="{{ produto.produto_quantidade_minima if produto else '' }}">
                        </div>

                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="produto_peso">Peso</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-hammer text-white"></i>
                            </span>
                            <input type="text" name="produto_peso" class="form-control" id="produto_peso"
                                placeholder="Peso em kg" required value="{{ produto.produto_peso if produto else '' }}">
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="produto_preco_custo">Preço de custo</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-gear-fill text-white"></i>
                            </span>
                            <input type="text" name="produto_preco_custo" class="form-control" id="produto_preco_custo"
                                placeholder="Preço de custo em R$" required value="{{ produto.produto_preco_custo if produto else '' }}">
                        </div>

                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="produto_preco_venda">Preço de venda</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-gear-fill text-white"></i>
                            </span>
                            <input type="text" name="produto_preco_venda" class="form-control" id="produto_preco_venda"
                                placeholder="Preço de venda em R$" required value="{{ produto.produto_preco_venda if produto else '' }}">
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="estoque_quantidade">Quantidade</label>
                        <div class="input-group">
                            <span class="input-group-text bg-dark border-secondary">
                                <i class="bi bi-layout-text-window-reverse"></i>
                            </span>
                            <input type="text" name="estoque_quantidade" class="form-control" id="estoque_quantidade"
                                placeholder="Quantidade de Produtos" required >
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="produto_descricao" class="form-label">Descrição</label>
                        <input type="text" name="produto_descricao" class="form-control" id="produto_descricao" required value="{{ produto.produto_descricao if produto else '' }}"
                            style="padding: 20px;">
                    </div>

                    <div id="btn-produto">

                        <!--Botão que envia o formulário em caso de cadastro-->
                        {% if produto and produto.id %}
                        <button type="submit" class="btn btn-primary">Atualizar</button>

                        <!--Botão que envia o formulário em caso de atualização-->
                        {%else%}
                        <button type="submit" class="btn btn-primary">Cadastrar</button>

                        {%endif%}
                    </div>
                </div>
            </form>
        </div>
</div>
{% endblock %}