<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Tela de cadastro de Cliente</title>
    <link rel="stylesheet" href="cadastrodecliente.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Material design-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />


    <style>

    </style>

</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">

            <!-- LADO ESQUERDO -->
            <div class="col-md-6 lado-esquerdo">
                <div>
                    <h5>Home &nbsp; Sobre Nós &nbsp; Ajuda</h5>
                </div>

                <div>
                    <p>Telefone: 999999999</p>
                    <p>Email: email@gmail.com</p>
                    <p>Website: site.com</p>
                </div>
            </div>

            <!-- LADO DIREITO -->
            <div class="col-md-6 d-flex justify-content-center align-items-center lador-direito">
                <div class="form-box text-center">
                    <h2>CADASTRO DE CLIENTE</h2>

                    <input type="text" class="form-control" placeholder="Nome">
                    <div class="d-flex gap-2">
                        <div class="form-outline bg-white mb-3">
                            <input type="email" class="form-control form-control-lg">
                            <label class="form-label">Senha</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="Senha" placeholder="Confirmar Senha">
                            <label for="Senha">Confirmar Senha</label>
                        </div>
                    </div>

                    <input type="email" class="form-control" placeholder="Email">

                    <div class="d-flex gap-2">
                        <input type="text" class="form-control" placeholder="CEP">
                        <input type="text" class="form-control" placeholder="CPF">
                    </div>

                    <div class="d-flex gap-2">
                        <input type="text" class="form-control" placeholder="DDI">
                        <input type="text" class="form-control" placeholder="DDD">
                        <input type="text" class="form-control" placeholder="Telefone">
                    </div>

                    <button class="btn btn-outline-dark btn-custom mt-3">CADASTRAR</button>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>

</html>