
{% extends 'base.html' %}

{% block conteudo %}  
        <div class="mb-4">
            <h2 class="titulo-pagina">
                <i class="bi bi-person"></i>
                {{ 'Editar Funcionário' if funcionario and funcionario.id else 'Cadastrar Funcionário' }}
            </h2>
        </div>
        <div class="container-fluid Card-principal text-center bg-white rounded">
            
            <form class="mb-3" action="{% if funcionario and funcionario.id %}{{ url_for('atualizar_funcionario', id=funcionario.id) }}{% else %}{{ url_for('salvar_funcionario') }}{% endif %}" method="POST">
                <!--Campo Nome-->
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-person-fill text-white"></i>
                        </span>
                        <input type="text" name="funcionario_nome" id="funcionario_nome" class="form-control" placeholder="Digite o nome" required>

                    </div>
                </div>
                <!--Campo Email-->
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-envelope text-white"></i>
                        </span>
                        <input type="email" name="funcionario_email" id="funcionario_email" class="form-control" placeholder="Digite o email" required>

                    </div>
                </div>
                <!--Campo Senha-->
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-lock-fill text-white"></i>
                        </span>
                        <input type="password" name="funcionario_senha" id="funcionario_senha" class="form-control" placeholder="Digite a senha" required>

                    </div>
                </div>
                <!--Campo CEP-->
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-geo-fill text-white"></i>
                        </span>
                        <input type="text" name="funcionario_cep" id="funcionario_cep" class="form-control" placeholder="Digite o cep" required>

                    </div>
                </div>
                <!--Campo Cpf e Cargo-->
                <div class="mb-3 text-start d-flex justify-content-between" style="gap: 5px">
                    <!--Cpf-->
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-wallet text-white"></i>
                        </span>
                        <input type="text" name="funcionario_cpf" id="funcionario_cpf" class="form-control" placeholder="Digite o cpf" required>

                    </div>
                    <!--Cargo-->
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-person-vcard text-white"></i>
                        </span>
                        <input type="text" name="funcionario_cargo" id="funcionario_cargo" class="form-control" placeholder="Digite o cargo" required>

                    </div>
                </div>
                <!--Campo DDI DDD e Telefone-->
                <div class="mb-3 text-start d-flex justify-content-between" style="gap: 5px">
                    <!--DDI-->
                    <div class="input-group" style="max-width: 30%;">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-telephone-fill text-white"></i>
                        </span>
                        <input type="text" name="funcionario_ddi" id="funcionario_ddi" class="form-control" placeholder="DDI" required>

                    </div>
                    <!--DDD-->
                    <div class="input-group" style="max-width: 30%;">
                        
                        <input type="text" name="funcionario_ddd" id="funcionario_ddd" class="form-control" placeholder="DDD" required>

                    </div>
                    <!--Telefone-->
                    <div class="input-group">
                        
                        <input type="text" name="funcionario_telefone" id="funcionario_telefone" class="form-control" placeholder="Telefone" required>

                    </div>
                </div>
                <button class="btn btn-primary w-100" type="submit">{{ 'Atualizar' if funcionario and funcionario.id else 'Cadastrar' }}</button>
            </form>
            
        </div>
    {% endblock %}
