<!--atualizado por ryan dia 12/05/26 às 11:50-->
{% extends 'base.html' %}

{% block conteudo %}
<!--Titulo + botao de volta para a tabelad clientes-->
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h2 class="titulo-pagina">
            <!--Icone BS-->
            <i class="bi bi-person-fill"></i>
            {{ 'Editar Cliente' if cliente and cliente.id else 'Cadastrar Cliente' }}
        </h2>
    </div>
    <div>
        <a href="{{ url_for('listagem_cliente') }}" class="btn btn-success">
            <i></i>Visualizar Clientes</a>
    </div>
</div>
<!--Salva atualização dos cliente-->
<form
    action="{% if cliente and cliente.id %}{{ url_for('atualizar_cliente', id=cliente.id) }}{% else %}{{ url_for('salvar_cliente') }}{% endif %}"
    method="POST">


    <div class="row">
        <!--coluna-->
        <div class="col-md-6 mb-3">

            <!--Campo Nome-->
            <label for="cliente_nome" class="form-label">Nome</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary">
                    <!--Icone BS-->
                    <i class="bi bi-person-fill text-white"></i>
                </span>
                <input type="text" name="cliente_nome" id="cliente_nome" class="form-control"
                    placeholder="Digite seu nome" required value="{{ cliente.cliente_nome if cliente else '' }}">
            </div>

        </div>


        <div class="col-md-6 mb-3">

            <!--Campo CNPJ-->
            <label for="cliente_cnpj" class="form-label">CNPJ</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary">
                    <!--Icone BS-->
                    <i class="bi bi-person-vcard-fill text-white"></i>
                </span>
                <input type="text" name="cliente_cnpj" id="cliente_cnpj" class="form-control"
                    placeholder="Digite seu CNPJ" required value="{{ cliente.cliente_cnpj if cliente else '' }}">
            </div>
        </div>

        <div class="col-md-6 mb-3">

            <!--Campo CEP-->
            <label for="cliente_cep" class="form-label">CEP</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary">
                    <!--Icone BS-->
                    <i class="bi bi-geo-alt text-white"></i>
                </span>
                <input type="text" name="cliente_cep" id="cliente_cep" class="form-control" placeholder="Digite seu CEP"
                    required value="{{ cliente.cliente_cep if cliente else '' }}">
            </div>
        </div>

        <div class="col-md-6 mb-3">

            <!--Campo Email-->
            <label for="cliente_email" class="form-label">Email</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary">
                    <!--Icone BS-->
                    <i class="bi bi-envelope text-white"></i>
                </span>
                <input type="email" name="cliente_email" id="cliente_email" class="form-control"
                    placeholder="Digite seu email" required value="{{ cliente.cliente_email if cliente else '' }}">
            </div>
        </div>

        <div class="col-md-3 mb-3">

            <!--Campo DDI-->
            <label for="cliente_ddi" class="form-label">DDI</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary">
                    <!--Icone BS-->
                    <i class="bi bi-telephone-fill text-white"></i>
                </span>
                <input type="text" name="cliente_ddi" id="cliente_ddi" class="form-control" placeholder="DDI" required
                    value="{{ cliente.cliente_ddi if cliente else '' }}">
            </div>
        </div>

        <div class="col-md-3 mb-3">

            <!--Campo DDD-->
            <label for="cliente_ddd" class="form-label">DDD</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary">
                    <!--Icone BS-->
                    <i class="bi bi-telephone-fill text-white"></i>
                </span>
                <input type="text" name="cliente_ddd" id="cliente_ddd" class="form-control" placeholder="DDD" required
                    value="{{ cliente.cliente_ddd if cliente else '' }}">
            </div>
        </div>

        <div class="col-md-6 mb-3">

            <!--Campo Telefone-->
            <label for="cliente_telefone" class="form-label">Telefone</label>
            <div class="input-group">
                <span class="input-group-text bg-dark border-secondary">
                    <!--Icone BS-->
                    <i class="bi bi-telephone-fill text-white"></i>
                </span>
                <input type="text" name="cliente_telefone" id="cliente_telefone" class="form-control"
                    placeholder="Telefone" required value="{{ cliente.cliente_telefone if cliente else '' }}">
            </div>
        </div>

        <div class="mb-3">

            <!--Campo Descrição-->
            <label for="cliente_descricao" class="form-label">Descrição</label>
            <textarea name="cliente_descricao" class="form-control" id="cliente_descricao" rows="3"></textarea>
        </div>

    </div>
    <div class="botao-direita">
        <!--Botão que envia o formulário em caso de cadastro-->
        {% if fornecedor and fornecedor.id %}
        <button type="submit" class="botao-add btn ">Atualizar</button>

        <!--Botão que envia o formulário em caso de atualização-->
        {%else%}
        <button type="submit" class="botao-add btn ">Cadastrar</button>

        {%endif%}
    </div>

</form>
</div>

{% endblock %}