{% extends 'base.html' %}

{% block conteudo %}
<!--tela divida em duas partes-->
<!--parte de cima que tem o tiulo e o botão pra visualizar empilhadeiras-->
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h2 class="titulo-pagina">
            <i class="bi bi-person-fill"></i>
            {{ 'Editar Empilhadeira' if empilhadeira and empilhadeira.id else 'Cadastrar empilhadeira' }} <!--se passarem um id, o titulo vira outro-->
        </h2>
    </div>
    <div>
        <!--rota para ir visualizar as empilhadeiras já cadastradas-->
        <a href="{{ url_for('tabelaempilhadeira') }}" class="btn btn-success">
            <i></i>Visualizar Empilhadeiras</a>
    </div>
</div>
<!--parte de baixo que possui todo o formulário-->
<div class="login-card text-center bg-white">
    <form
        action="{% if empilhadeira and empilhadeira.id %}{{ url_for('atualizar_empilhadeira', id=empilhadeira.id) }}{% else %}{{ url_for('salvar_empilhadeira') }}{% endif %}"
        method="POST"> <!--ação que executa o cadastro de empilhadeira e se ja existir um parametro de id, ele edita uma empilhadeira existente-->
        <div class="mb-3 text-start">
            <!--Campo Número de chassi-->
            <label for="empilhadeira_chassi" class="form-label">Número de Chassi</label>
            <div class="input-group mb-3">
                <!--icone do lado do campo input-->
                <span class="input-group-text bg-dark border-secondary">
                    <i class="bi bi-envelope text-white"></i>
                </span>
                <!--se estiver editando uma empilhadeira, as informações do input já vai automatico com o value-->
                <input type="text" name="empilhadeira_chassi" id="numero_chassi" class="form-control"
                    placeholder="Número do Chassi" maxlength="20" required
                    value="{{ empilhadeira.empilhadeira_chassi if empilhadeira else '' }}">

            </div>

            <!--Campo Marca da empilhadeira-->
            <label for="empilhadeira_marca" class="form-label">Marca da empilhadeira</label>
            <div class="input-group mb-3">
                <!--icone do lado do campo input-->
                <span class="input-group-text bg-dark border-secondary">
                    <i class="bi bi-envelope text-white"></i>
                </span>
                <!--se estiver editando uma empilhadeira, as informações do input já vai automatico com o value-->
                <input type="text" name="empilhadeira_marca" id="marca" class="form-control" placeholder="Marca"
                    required value="{{ empilhadeira.empilhadeira_marca if empilhadeira else '' }}">

            </div>

            <!--Campo Modelo da empilhadeira-->
            <label for="empilhadeira_modelo" class="form-label">Modelo da empilhadeira</label>

            <div class="input-group mb-3" style="max-width: 100%;">
                <!--icone do lado do campo input-->
                <span class="input-group-text bg-dark border-secondary">
                    <i class="bi bi-envelope text-white"></i>
                </span>
                <!--se estiver editando uma empilhadeira, as informações do input já vai automatico com o value-->
                <input type="text" name="empilhadeira_modelo" id="modelo" class="form-control" placeholder="Modelo"
                    required value="{{ empilhadeira.empilhadeira_modelo if empilhadeira else '' }}">

            </div>

            <div class="botao-direita">
                <!--botão pra cadastrar ou atualizar de acordo com a ação-->
                <button class="botao-add btn" style="max-width: 100%;" type="submit">Cadastrar</button>
            </div>
    </form>
</div>

{% endblock %}