{% extends 'base.html' %}

{% block conteudo %}

<div class="mb-4">
    <h2 class="titulo-pagina">
        <i class="bi bi-box"></i>
        {{ 'Editar Produto' if produto and produto.id else 'Cadastrar Produto' }}
    </h2>
</div>

<div class="container-fluid produto-container d-flex justify-content-center" >

    <div class="produto-card text-dark"  >

        <form class="mb-3" action="{{ url_for('login') }}" method="POST">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-box text-white"></i>
                        </span>
                        <input type="text" class="form-control" name="produto_nome" id="produto_nome" placeholder="Nome do produto" required>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-box text-white"></i>
                        </span>
                        <input type="text" name="produto_categoria" class="form-control" id="produto_categoria" placeholder="Categoria do produto"
                        required>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-geo-alt-fill text-white"></i>
                        </span>
                        <input type="text" name="produto_localizacao" class="form-control" id="produto_localizacao"
                        placeholder="Localização do produto" required>
                    </div>
                    
                </div>

                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-basket2-fill text-white"></i>
                        </span>
                        <input type="text" name="produto_quantidade_minima" class="form-control" id="produto_quantidade_minima" placeholder="Quantidade mínima do produto"
                        required>
                    </div>
                    
                </div>

                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-hammer text-white"></i>
                        </span>
                        <input type="text" name="produto_peso" class="form-control" id="produto_peso" placeholder="Peso" required>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-gear-fill text-white"></i>
                        </span>
                        <input type="text" name="produto_preco_custo" class="form-control" id="produto_preco_custo" placeholder="Preço de custo"
                        required>
                    </div>
                    
                </div>

                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-gear-fill text-white"></i>
                        </span>
                        <input type="text" name="produto_preco_venda" class="form-control" id="produto_preco_venda" placeholder="Preço de venda"
                        required>
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <label for="produto_descricao" class="form-label">Descrição</label>
                    <input type="text" name="produto_descricao" class="form-control" id="produto_descricao" required style="padding: 20px;">
                </div>

                <div class="col-md-12 d-flex mb-3 justify-content-end">
                    <button type="submit" class="btn btn-primary produto-btn">Cadastrar</button>
                </div>
            </div>

    </div>

    {% endblock %}
