{% extends 'base.html' %}

{% block conteudo %}
<div>
    <h2 class="titulo-pagina">
        <i class="bi bi-box-seam"></i> Pedido de Saída nº {{ pedido.id }}
    </h2>

</div>

<div class="card-info"
    style="padding: 10px; margin-left: 20px; margin-top: 30px; margin-bottom: 50px; background-color: #fff; border-radius: 10px; width: auto;">
    <p><strong>Fornecedor:</strong> {{ pedido.cliente }}</p>
    <p><strong>Data:</strong> {{ pedido.data_pedido_saida }}</p>
    <p><strong>Status:</strong> {{ pedido.status_pedido_saida}}</p>
</div>

{% if pedido.status_pedido_saida == 'PENDENTE' %}

<div class="container-fluid detalhe-container d-flex justify-content-between">

    <div class="pedido-card text-dark mb-4" style="width: 100%; display: flex; justify-content: space-around;">
        <div class="form-itens" style="width: 45%;">

            <h3><strong><i class="bi bi-plus-circle"></i> Adicionar itens</strong></h3>
            <form method="POST" action="{{ url_for('adicionar_item_saida', pedido_saida_id=pedido.id) }}">

                <div class="col-md-6 mb-3">
                    <label for="produto">Produto:</label>
                    <select id="produto" class="form-select" name="produto_id">
                        <option value="">Selecione</option>
                        {% for produto in produto %}
                        <option value="{{ produto.id }}" data-nome="{{ produto.produto_nome }}"
                            data-estoque="{{ produto.estoque_quantidade }}">
                            {{ produto.produto_nome }} - Estoque: {{produto.estoque_quantidade}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="produto_quantidade">Quantidade</label>
                    <div class="input-group">
                        <input type="number" name="quantidade" class="form-control" id="produto_quantidade"
                            placeholder="Quantidade do produto" min="1">
                    </div>
                </div>


                <button type="submit" class="btn botao-add">Adicionar Item</button>
            </form>
        </div>
        {% endif %}



        <div class="table-responsive" style="width: 45%; ">
            <h3><strong><i class="bi bi-basket"></i> Itens do pedido</strong></h3>

            <table id="tabela-movimentacao" class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.produto }}</td>
                        <td>{{ item.detalhe_saida_quantidade}}</td>
                        <td>
                            {% if pedido.status_pedido_saida == 'PENDENTE' %}
                            <!-- Botão do modal pra excluir -->
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#Modal{{pedido.id}}">
                                    <i class="bi bi-trash"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="Modal{{pedido.id}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Deseja excluir esse produto?</strong></h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <!--Ação para excluir o funcionário-->
                                                <a href="{{ url_for('remover_item_saida', detalhe_saida_id=item.id, pedido_saida_id=pedido.id) }}"
                                                    class="btn btn-danger">
                                                    <strong>Excluir</strong>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody id="itens-novos"></tbody>
            </table>


        </div>
    </div>
</div>

{% if pedido.status_pedido_saida == 'PENDENTE' %}
<h2 style="margin-left: 40px;">
    <a href="{{ url_for('finalizar_saida', pedido_saida_id=pedido.id) }}" class="btn btn-success">Atualizar</a>
</h2>
{% endif %}



<script>
    let itens = [];

    function adicionarItem() {
        const selectProduto = document.getElementById("produto");
        const quantidadeInput = document.getElementById("produto_quantidade");

        const produtoId = selectProduto.value;
        const quantidade = parseInt(quantidadeInput.value);

        if (!produtoId) {
            alert("Selecione um produto.");
            return;
        }

        if (!quantidade || quantidade <= 0) {
            alert("Informe uma quantidade maior que zero.");
            return;
        }

        const option = selectProduto.options[selectProduto.selectedIndex];
        const nome = option.getAttribute("data-nome");
        const estoque = parseInt(option.getAttribute("data-estoque"));

        if (quantidade > estoque) {
            alert(`Estoque insuficiente. Disponível: ${estoque}`);
        return;
        }

        const itemExistente = itens.find(item => item.produto_id === produtoId);

        if (itemExistente) {
            const novaQuantidade = itemExistente.quantidade - quantidade;


            itemExistente.quantidade = novaQuantidade;
        } else {
            itens.push({
                produto_id: produtoId,
                nome: nome,
                quantidade: quantidade,
            });
        }

        quantidadeInput.value = "";
        selectProduto.value = "";

        atualizarTabela();
    }

    function removerItem(index) {
        itens.splice(index, 1);
        atualizarTabela();
    }

    function atualizarTabela() {
        const tbody = document.querySelector("#tabela-itens tbody");
        tbody.innerHTML = "";

        itens.forEach((item, index) => {

            const linha = `
                <tr>
                    <td>${item.produto_id}</td>
                    <td>${item.nome}</td>
                    <td>${item.quantidade}</td>
                    <td>
                        <button type="button" onclick="removerItem(${index})">Remover</button>
                    </td>
                </tr>
            `;

            tbody.innerHTML += linha;
        });

    }

    function prepararEnvio() {
        document.getElementById("itens_json").value = JSON.stringify(itens);
    }
</script>
{% endblock %}