<!--LipinhoGamer 014/05/2026 às 12h15-->
{% extends 'base.html' %}

{% block conteudo %}  
<body style="background-color: #ffffff;">
    <div class="papai text-center py-5 ">
        <div class="mb-5">
          <div class=" text-white mx-auto"
               style="width:100px; height:100px; font-size:40px;">
               <img src="../static/images/ponto_localizacao.png" alt="">
            
          </div>
        </div>

        
        <div class="mx-auto mb-5" style="max-width:600px;">
          <div class="pesquisa d-flex">
            <input type="text" class="form-control" placeholder="Pesquise seu produto pelo nome ou ID:">
            <button class="btn btn-primary ">🔍</button>
          </div>
        </div>

        <section class="container_ende d-flex justify-content-center align-items-center">
          <div class="cards_ende m-5" style="background-color: #d3d7da; border-radius: 10px ; color: white; width: 200px;" >
           
          </div>

          <div class="cards_ende m-5" style="background-color: #d3d7da; border-radius: 10px; color: white; width: 200px;">
       

          </div>

          <div class="cards_ende m-5" style="background-color: #d3d7da; border-radius: 10px; color: white; width: 200px;">
       
          </div>
        </section>

    </div>
      
        
    
</body>
{% endblock %}