<!--Editado por Júlia em 02/06/2026 as 16h46-->
{% extends 'base.html' %}

{% block conteudo %}

<div>
    <div>
        <!--TOPO-->
        <div style="width: 99%; margin-left: 10px;" class="d-flex">

            <!--Barra de pesquisa-->
            <form action="{{ url_for('listagem_estoque')}}" class="input-group form-card">

                <input name="chave_pesquisa" type="text" class="form-control" placeholder="Pesquisa">

                <!--Botão de envio-->
                <button class="input-group-text bg-dark border-secondary">
                <i class="bi bi-search text-white"></i>
                </button>
                
            </form>
                
            <!--Filtro de ordenação-->
            <form method="GET" class="form-card ms-3" style="width: 29%; margin-right: 10px;">

                <!--Menu de opções de ordenação-->
                <select
                    name="filtro"
                    class="filtrar form-select"
                    onchange="this.form.submit()">
            
                    <!--Opção: adicionados recentemente-->
                    <option value="adc-recente"
                        {{ 'selected' if filtro == 'adc-recente' else '' }}>
                        Adicionados recentemente
                    </option>
                    
                    <!--Opção: ordem alfabética de nome-->
                    <option value="nome"
                        {{ 'selected' if filtro == 'nome' else '' }}>
                        Ordenar por nome
                    </option>
            
                    <!--Opção: Estoque decrescente-->
                    <option value="maior"
                        {{ 'selected' if filtro == 'maior' else '' }}>
                        Quantidade: Maior ao menor
                    </option>
            
                    <!--Opção: Estoque crescente-->
                    <option value="menor"
                        {{ 'selected' if filtro == 'menor' else '' }}>
                        Quantidade: Menor ao maior
                    </option>

                    <!--Opção: Preço decrescente-->
                    <option value="preco-maior"
                        {{ 'selected' if filtro == 'preco-maior' else '' }}>
                        Preço: Maior ao menor
                    </option>
            
                    <!--Opção: Preço crescente-->
                    <option value="preco-menor"
                        {{ 'selected' if filtro == 'preco-menor' else '' }}>
                        Preço: Menor ao maior
                    </option>
            
                </select>
            </form>
        </div>

    </div>

    <!--ESTOQUE-->
    <section class="container mt-5">
        {%if estoque%}

        <!--LINHA-->
        <div class="row">

            {%for estoque_produto in estoque%}

            <!--COLUNA-->
            <div class="col-md-3">

                <!--CARD-->
                <div class="card mb-4" style="max-width: 100%;">
                    <img class="card-img-top" src="https://picsum.photos/300/200?random=8" alt="imagem">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{estoque_produto.produto_nome}}</strong></h5>
                        <p class="card-text"><strong>Estoque mínimo:</strong> {{estoque_produto.produto_quantidade_minima}}</p>
                        <p class="card-text"><strong>Estoque atual:</strong> {{estoque_produto.estoque_quantidade}}</p>
                        <p class="card-text"><strong>Localização:</strong> {{estoque_produto.produto_localizacao}}</p>
                        
                        <!-- Botão pra ativar o modal -->
                        <button type="button" class="botao-add btn w-100" data-bs-toggle="modal"
                            data-bs-target="#modal{{estoque_produto.id}}">
                            Mais detalhes
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal{{estoque_produto.id}}" tabindex="-1">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            <strong>{{estoque_produto.produto_nome}}</strong>
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <section class="container d-flex justify-content-between"
                                        style="background-color: #DCE3EE; width: 100%; height: 550px; border-radius: 10px;">
                                            <!-- LADO ESQUERDO -->
                                            <div class="d-flex flex-column gap-3 m-3">
                                                <div class="bg-white" style="width: 300px; border-radius: 10px !important;">
                                                    <img class="card-img-top" src="https://picsum.photos/300/200?random=8" style="border-radius: 10px !important;" alt="imagem">
                                                </div>
                                                <div class="bg-white w-100"
                                                    style="height: 285px; border-radius: 10px;">
                                                    <p style="margin: 15px;"><strong>Descrição:</strong> {{estoque_produto.produto_descricao}}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column m-3 mx-auto" style="width: 320px;">
                                                <div class="bg-white mb-3 w-100 d-flex align-items-center px-3"
                                                    style=" height: 70px; border-radius: 10px;">
                                                    <p><strong>Nome:</strong> {{estoque_produto.produto_nome}}</p>
                                                </div>
                                                <div class="bg-white mb-3 w-100 d-flex align-items-center px-3"
                                                    style="height: 70px; border-radius: 10px;">
                                                    <p><strong>Categoria:</strong> {{estoque_produto.produto_categoria}}</p>
                                                </div>
                                                <div class="bg-white mb-3 w-100 d-flex align-items-center px-3"
                                                    style="height: 70px; border-radius: 10px;">
                                                    <p><strong>Preço de Venda:</strong> {{estoque_produto.produto_preco_venda}}</p>
                                                </div>
                                                <div class="bg-white mb-3 w-100 d-flex align-items-center px-3"
                                                    style="height: 70px; border-radius: 10px;">
                                                    <p><strong>Preço de Custo:</strong> {{estoque_produto.produto_preco_custo}}</p>
                                                </div>
                                                <div class="bg-white mb-3 w-100 d-flex align-items-center px-3"
                                                    style="height: 70px; border-radius: 10px;">
                                                    <p><strong>Quantidade atual:</strong> {{estoque_produto.estoque_quantidade}}</p>
                                                </div>
                                                <div class="bg-white mb-3 w-100 d-flex align-items-center px-3"
                                                    style="height: 70px; border-radius: 10px;">
                                                    <p><strong>Peso:</strong> {{estoque_produto.produto_peso}}</p>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            {%endfor%}

        </div>

        {%else%}

        
        <!--Mensagem em caso de não ter estoque de produtos cadastrados-->
        <div class="alert alert-info mb-0">
            <i class="bi bi-info-circle"></i>
            Nenhum produto encontrado.
        </div>

        {%endif%}
    </section>
</div>
{% endblock %}