<!--LipinhoGamer 07/05/2026 as 13h56-->
{% extends 'base.html' %}

{% block conteudo %}

<body>
    <div class="papaizao d-flex justify-content">
        <div class=" d-flex mb-3 ms-5" style="max-width: 20%;">
            <div class="" style="width:100px; height:100px; font-size:40px; max-width: 20%;">
                <img src="../static/images/caixas_estoque.png" alt="imagem">
            </div>
        </div>
        <div class="pesquisa m-4" style=" height: 40px; width: 500px;">
            <div class="d-flex">
                <input type="text" class="form-control" placeholder="Procurar produto:">
                <button class="btn btn-primary ">🔍</button>
            </div>
            <select class="filtrar mt-3" style="border-radius: 5px;">
                <option selected>filtrar</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div class=" d-flex mb-3" style="max-width: 20%; margin-left: 700px;">
            <div class="logo" style="width:100px; height:100px; font-size:40px; max-width: 20%;">
                <img src="../static/images/Captura de tela 2026-05-07 104456.png" alt="imagem">
            </div>
        </div>
    </div>
    {%if estoque%}
    {%for estoques in estoque%}
    <section class="container_papaizao d-flex justify-content-center align-items-center mt-5">
        <div class="cards m-4" style="background-color: white; width: 400px; height: 400px; border-radius: 10px;">
            <h2>Produto</h2>
            <p>ID</p>
            <p>Rua </p>
            <p> Prateleira</p>

        </div>
        <div class="cards1 m-4" style="background-color: white; width: 400px; height: 400px; border-radius: 10px;">
            <h2>Produto</h2>
            <p>ID</p>
            <p>Rua </p>
            <p> Prateleira</p>

        </div>
        <div class="cards2 m-4" style="background-color: white; width: 400px; height: 400px; border-radius: 10px;">
            <h2>Produto</h2>
            <p>ID</p>
            <p>Rua </p>
            <p> Prateleira</p>

        </div>
    </section>
    {% endblock %}