<!--Atualizado por Clarinha 05/05 às 16h10-->

{% extends 'base.html' %}

{% block conteudo %}
<div class="container-fluid">
    <div class="mb-4">
        <h2 class="titulo-pagina">
            <i class="bi bi-arrow-right-square"></i> Movimentações entrada
        </h2>
        <p class="text-muted mb-0">Pedido de entrada</p>
    </div>
    <div class=" produto-container d-flex justify-content-between">

        <div class="pedido-card text-dark" style="width: 45%;">

            <form id="form_pedido" method="POST" action="{{ url_for('nova_entrada') }}" onsubmit="prepararEnvio()">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fornecedor_nome">Fornecedor</label>
                        <select id="fornecedor" name="fornecedor_id" class="form-select">
                            <option value="0">Selecione</option>
                            {% for fornecedor in fornecedores %}
                            <option value="{{ fornecedor.id }}">
                                {{ fornecedor.fornecedor_nome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <h5>Itens do Pedido</h5>

                    <div class=" mb-3">
                        <label for="produto">Produto</label>
                        <select id="produto" class="form-select">
                            <option value="">Selecione</option>
                            {% for produto in produto %}
                            <option value="{{ produto.id }}" data-nome="{{ produto.produto_nome }}"
                                data-estoque="{{ produto.estoque_quantidade }}">
                                {{ produto.produto_nome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="produto_quantidade">Quantidade</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="produto_quantidade"
                                placeholder="Quantidade do produto" min="1">
                        </div>
                    </div>



                    <button type="button" class="btn botao-add" onclick="adicionarItem()">
                        Adicionar item
                    </button>


                    <input type="hidden" name="itens_json" id="itens_json">
                </div>
            </form>
        </div>
        <div class="pedido-card text-dark" style="width: 45%;">

            <div class="table-responsive">
                <table id="tabela-itens" class="table table-hover align-middle">

                    <thead class="table-light">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th class="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
                <button type="submit" form="form_pedido" class="btn botao-add">
                    Salvar Pedido
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let itens = [];

    function adicionarItem() {
        const selectProduto = document.getElementById("produto");
        const quantidadeInput = document.getElementById("produto_quantidade");

        const produtoId = selectProduto.value;
        const quantidade = parseInt(quantidadeInput.value);

        if (!produtoId) {
            alert("Selecione um produto.");
            return;
        }

        if (!quantidade || quantidade <= 0) {
            alert("Informe uma quantidade maior que zero.");
            return;
        }

        const option = selectProduto.options[selectProduto.selectedIndex];
        const nome = option.getAttribute("data-nome");

        const itemExistente = itens.find(item => item.produto_id === produtoId);

        if (itemExistente) {
            const novaQuantidade = itemExistente.quantidade + quantidade;

            itemExistente.quantidade = novaQuantidade;
        } else {
            itens.push({
                produto_id: produtoId,
                nome: nome,
                quantidade: quantidade,
            });
        }

        quantidadeInput.value = "";
        selectProduto.value = "";

        atualizarTabela();
    }

    function removerItem(index) {
        itens.splice(index, 1);
        atualizarTabela();
    }

    function atualizarTabela() {
        const tbody = document.querySelector("#tabela-itens tbody");
        tbody.innerHTML = "";

        itens.forEach((item, index) => {

            const linha = `
                <tr>
                    <td>${item.produto_id}</td>
                    <td>${item.nome}</td>
                    <td>${item.quantidade}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="removerItem(${index})"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            `;

            tbody.innerHTML += linha;
        });

    }

    function prepararEnvio() {
        document.getElementById("itens_json").value = JSON.stringify(itens);
    }
</script>
{% endblock %}