<!--Editado por Ryan em 12/05/2026 às 11h20-->

{% extends 'base.html' %}

{% block conteudo %}

<div class="container-fluid">

    <!-- TÍTULO + BOTÃO -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="titulo-pagina">
                <i class="bi bi-person-fill"></i>
                Clientes
            </h2>
            <p class="text-muted mb-0">Gerencie os Clientes do sistema</p>
        </div>

        <a href="{{ url_for('cliente') }}" class="botao-add btn">
            <i class="bi bi-plus-lg"></i> Novo Cliente</a>
    </div>

    <!-- CARD -->
    <div class="card shadow-sm">
        <div class="card-body">

            <!--Criação de tabela em caso de fornecedores cadastrados-->
            <div class="table-responsive">
                {% if clientes %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!--Colunas da tabela-->
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">CEP</th>
                            <th scope="col">Email</th>
                            <th scope="col">DDI</th>
                            <th scope="col">DDD</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Descrição</th>
                            <th scope="col" class="text-end">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <!--Valores do banco que deverão aparecer-->
                            <th scope="row">{{ cliente.id }}</th>
                            <td>{{ cliente.cliente_nome }}</td>
                            <td>{{ cliente.cliente_cnpj }}</td>
                            <td>{{ cliente.cliente_cep }}</td>
                            <td>{{ cliente.cliente_email }}</td>
                            <td>{{ cliente.cliente_ddi }}</td>
                            <td>{{ cliente.cliente_ddd }}</td>
                            <td>{{ cliente.cliente_telefone}}</td>
                            <td>{{ cliente.cliente_descricao }}</td>
                            <td class="text-end">
                                <a href="{{ url_for('editar_cliente', id=cliente.id) }}"
                                    class="btn btn-sm btn-outline-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>

                                <!-- Botão do modal pra excluir -->
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#Modal{{cliente.id}}">
                                    <i class="bi bi-trash"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="Modal{{cliente.id}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Deseja excluir esse cliente?</strong></h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <a href="{{ url_for('deletar_cliente', id=cliente.id) }}"
                                                    class="btn btn-danger">
                                                    <strong>Excluir</strong>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% else %}

            <!--Mensagem em caso de não ter clientes cadastrados-->
            <div class="alert alert-info mb-0">
                <i class="bi bi-info-circle"></i>
                Nenhum Cliente cadastrado.
            </div>

            {% endif %}

        </div>
    </div>

</div>

{% endblock %}