<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Voiture</title>
    <link rel="stylesheet" href="login.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Fonte moderna -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center login-container">
        <div class="login-card text-center">
            <!--Logo-->
            <img src="logo.png" alt="logo" class="logo">
            <h4 class="mb-3 text-white">Sistema de Estoque - Voiture</h4>
            <p class="text-white mb-4">Acesse sua conta</p>

            <form action="">
                <div class="mb-3 text-start">
                    <label class="form-label text-white">Email</label>
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-envelope text-white"></i>
                        </span>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu email" required>

                    </div>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label text-white">Senha</label>
                    <div class="input-group">
                        <span class="input-group-text bg-dark border-secondary">
                            <i class="bi bi-lock text-white"></i>
                        </span>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Digite sua Senha" required>

                    </div>
                </div>
                <button class="btn btn-login w-100 text-white mt-2">Entrar</button>

            </form>
            <div class="mt-4 text-white" style="font-size: 13px;">
                © 2026 Voiture - Sistema de Estoque
            </div>
        </div>

    </div>
    
</body>
</html>