<!--Raica Gabriele de Lima - 07/07/2026 - 13:56 -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enderecamento</title>
    <link rel="stylesheet" href="enderecamento.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Fonte moderna -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">

</head>

<body>

    <section 
    class="container d-flex justify-content-between mt-5"
    style="background-color: #DCE3EE; width: 700px; height: 550px; border-radius: 10px;"
>

    <!-- LADO ESQUERDO -->
    <div class="d-flex flex-column gap-3 m-3">

        <div 
            class="bg-white"
            style="width: 300px; height: 220px; border-radius: 10px;"
        ></div>

        <div 
            class="bg-white"
            style="width: 300px; height: 265px; border-radius: 10px;"
        >
        <p style= "margin: 15px;">Descrição</p>
    
        </div>

    </div>

    <div class="d-flex flex-column m-3 mx-auto">

        <div 
            class="bg-white mb-3"
            style="width: 320px; height: 70px; border-radius: 10px;"
        ></div>

        <div 
            class="bg-white mb-3"
            style="width: 320px; height: 70px; border-radius: 10px;"
        ></div>

        <div 
            class="bg-white mb-3"
            style="width: 320px; height: 70px; border-radius: 10px;"
        ></div>

        <div 
            class="bg-white mb-3"
            style="width: 320px; height: 70px; border-radius: 10px;"
        ></div>
        <div 
            class="bg-white mb-3"
            style="width: 320px; height: 70px; border-radius: 10px;"
        ></div>

        <div 
            class="bg-white mb-3"
            style="width: 320px; height: 70px; border-radius: 10px;"
        ></div>

    </div>

</section>

        <div>
            <div class="descricao">
                <h5>Descrição:</h5>
            </div>

        </div>

        <!-- Lado direito -->
        <div class="lado-direito">

            <div class="info-box">
                Nome:
            </div>

            <div class="info-box">
                Categoria:
            </div>

            <div class="info-box">
                Preço de venda:
            </div>

            <div class="info-box">
                Preço de custo:
            </div>

            <div class="info-box">
                Quantidade:
            </div>

            <div class="info-box">
                Peso:
            </div>

        </div>



    </section>

</body>

</html>