{% extends 'base.html' %}

{% block conteudo %}

<!--Topo-->
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="titulo-pagina">
                <i class="bi bi-arrow-left-square"></i> Movimentações de Saída
            </h2>
            <p class="text-muted mb-0">Pedido de saída</p>
        </div>

        <a href="{{ url_for('nova_saida') }}" class="btn botao-add"> <!--Ação da rota nova saida-->
            <i class="bi bi-plus-lg"></i> Novo Pedido de Saída
        </a>

    </div>

    <!--tabela que mostra os dados de id, produto, quantidade, status, data do pedido e data do processamento-->
    <div class="table-responsive">
        <table id="tabela-movimentacao" class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Status</th>
                    <th>Data do pedido</th>
                    <th>Data do processamento</th>
                    <th class="text-end">Ações</th> <!--nessa parte vão aparecer botões de ação dos pedidos-->
                </tr>
            </thead>

            <tbody>
                <!--resgata os dados do pedido-->
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.pedido_saida_id }}</td>
                    <td>{{ pedido.produto_nome }}</td>
                    <td>{{ pedido.detalhe_saida_quantidade }}</td>
                    <td>{{ pedido.status_pedido_saida }}</td>
                    <td>{{ pedido.data_pedido_saida }}</td>
                    <td>{{ pedido.data_processamento or '-' }}</td>
                    <!--aparece a data do processamento, mas se for cancelado aparece um - -->
                    <td class="text-end">

                        {% if pedido.status_pedido_saida == 'PENDENTE' %} <!--se o status do pedido for pendente vai aparecer os botões com a rota de processar, cancelar e editar-->
                        
                        <!--Ação para processar o pedido-->
                        <a href="{{ url_for('processar_pedido_saida', pedido_saida_id=pedido.pedido_saida_id) }}" 
                            class="btn btn-sm btn-success">Processar</a> 

                        <!--Botão de cancelar-->
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            data-bs-target="#Modal{{pedido.id}}"> Cancelar

                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="Modal{{pedido.id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Deseja
                                                cancelar esse pedido?</strong></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Sair</button>
                                        <!--Ação para cancelar o pedido-->
                                        <a href="{{ url_for('cancelar_pedido_saida', pedido_saida_id= pedido.pedido_saida_id) }}"
                                            class="btn btn-danger">
                                            <strong>Cancelar</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Ação para editar o pedido-->
                        <a href="{{ url_for('editar_saida', pedido_saida_id=pedido.pedido_saida_id) }}"
                            class="btn btn-sm btn-warning">Editar</a>
                        {% else %}
                        -
                        {% endif %} <!--fecha o if-->
                    </td>
                </tr>
                {% endfor %} <!--fecha o for-->
            </tbody>
        </table>

    </div>
</div>
{% endblock %}