{% extends 'base.html' %}

{% block conteudo %}
<h2>Pedidos de Venda</h2>

<p>
    <a href="{{ url_for('nova_venda') }}">Novo Pedido de Venda</a>
</p>

<table>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Data</th>
        <th>Status</th>
        <th>Valor Total</th>
        <th>Ações</th>
    </tr>

    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.cliente }}</td>
        <td>{{ pedido.data_pedido }}</td>
        <td>{{ pedido.status }}</td>
        <td>R$ {{ pedido.valor_total }}</td>
        <td>
            <a href="{{ url_for('detalhes_venda', pedido_id=pedido.id) }}">Abrir</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}