<!--Editado por Felipe em 02/06/2026 às 13h42-->

{% extends 'base.html' %}

{% block conteudo %}



<!--Fornecedor-->

<div id="template_uso_empilhadeira">

    <h2 class=" bi bi-box">Uso de Empilhadeira</h2>


    <form id="form_fornecedor" action="{{ url_for('salvar_uso_empilhadeira')}}" method="POST">

        <div class="row">
            <div class="col-md-6 mb-3" style=" max-width: 100%;">
                <label for="funcionario_id" class="form-label">Funcionário</label>
                <div class="input-group"style="width: 800px;" >
                    <span class="input-group-text bg-dark border-secondary">
                        <i class="bi bi-person-fill text-white"></i>
                    </span>

                    <select id="funcionario_id" name="funcionario_id">
                        <option value="">Selecione</option>
                        {% for funcionario in funcionarios %}
                            <option 
                                value="{{ funcionario.id }}">
                                nome {{ funcionario.funcionario_nome }} - {{ funcionario.id }}
                            </option>
                        {% endfor %}
                    </select>

                </div>

            </div>

            <div class="col-md-6 mb-3">
                <label for="empilhadeira_id" class="form-label">Empilhadeira</label>
                <div class="input-group">
                    <span class="input-group-text bg-dark border-secondary">
                        <i class="bi bi-basket2-fill text-white"></i>
                    </span>

                    <select id="empilhadeira_id" name="empilhadeira_id">
                        <option value="">Selecione</option>
                        {% for empilhadeira in empilhadeiras %}
                            <option 
                                value="{{ empilhadeira.id }}">
                                chassi {{ empilhadeira.empilhadeira_chassi }} - marca {{ empilhadeira.empilhadeira_marca }} - modelo {{ empilhadeira.empilhadeira_modelo }} - {{ empilhadeira.id }}
                            </option>
                        {% endfor %}
                    </select>

                </div>

            </div>


            <div id="btn-fornecedor">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>


    </form>

</div>



{% endblock %}